/* Styles appliqués pour un effet de glassmorphisme */
.glass {
	background: var(--w35);
}

.largeglass, .darkglass {
	backdrop-filter: blur(12px);
}

.largeglass {
	background: var(--g40);
}

.darkglass {
	background: var(--b40);
}

.pane {
	border-radius: 2.5rem;
	border: 0.5rem solid var(--w25);
}