/* Variables (de couleur) */
:root {
	--white: white;
	--black: rgba(0, 0, 0, 0.8);
	
	--w25: rgba(255, 255, 255, 0.25);
	--w35: rgba(255, 255, 255, 0.35);
	--w35p: rgba(255, 255, 255, 0.45);
	--w50: rgba(255, 255, 255, 0.50);
	--g40: rgba(181, 181, 181, 0.40);
	--b40: rgba(115, 115, 115, 0.40);

	--b25: rgba(0, 0, 0, 0.25);

	--jblue: rgb(35, 119, 189);
}

/* Importation des autres fichiers CSS 
   Division pour séparation du layout, des styles et de l'application du glassmorphisme*/
@import url(./glass.css);
@import url(./layout.css);
@import url(./style.css);

/* Enlever la marge extérieure par défaut */
body, head {
	margin: 0;
}

/* Mode de fusion pour le logo */
#logo {
	mix-blend-mode: multiply;
}