@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Lemonada:wght@300..700&display=swap');

body {
	color: var(--white);

	background: url(../assets/images/bg.png) center / cover;
}

p, a, h1, h2, h3, h4 {
	text-shadow: 0 0.2em 0.2em var(--b25);
	filter: drop-shadow();
}

h1, h2, h3, h4 {
	font-family: Lemon;
}

h1 {
	font-size: 1.25em;
	margin-top: 2.5em;
}

p, a {
	font-family: Lemonada;
}

p {
	color: var(--black);
	font-size: 0.75em;
}

nav a {
	text-decoration: none;
	font-family: Lemon;
	font-size: 1.1rem;

	color: var(--white);
	transition: 1s;
}

nav a:hover {
	color: var(--jblue);
	background-color: var(--w35p);
}

button {
	border-radius: 40px;
	border: 4px solid var(--w25);
	background: var(--w35);
	box-shadow: 0px 12px 64px 12px var(--b25);
}

footer {
	color: var(--black);
}